* {
  box-sizing: border-box;
  background: #F5F5F5
}

body {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

.socials-link-block .fab,
.socials-link-block .fas {
  font-size: 5rem;
  width: 100%;
  padding: 10px;
  margin: 0;
  /* border-bottom: 1px solid black; */
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  width: 145px;
  height: 145px;
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.logo-link {
  display: inherit;
  width: inherit;
  height: inherit;
  color: black;
  line-height: 30px;
  text-decoration: none;
  border: 10px solid white;
  padding-top: 35px;
}

.square-white::after {
  content: '';
  display: block;
  width: (100% + 10px);
  height: 40px;
  margin-top: -50px;
  margin-left: -10px;
  background: white;
}

.square-black::after {
  content: '';
  display: block;
  width: (100% + 10px);
  height: 40px;
  margin-top: -30px;
  margin-right: -10px;
  background: black;
}

.main-about {
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.5rem;
  text-align: center;
  padding: 0 15px;
}

.gabi_photo-img{
  min-width: 0;
  min-height: 0;
  flex-basis: 225px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  outline: 10px solid white;
}

.main-about p {
  width: 70%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: auto;
}

h2 {
  width: 100%;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.big-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.linki {
  margin-top: 4rem;
}

p {
  margin: 0;
  padding: 0;
}

.main-socials {
  text-align: center;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: space-between;
}

.main-socials-block {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-bottom: 50px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.socials-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 2rem;
      margin-bottom: 1.5rem;
}

.socials-link-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media(hover: hover) and (pointer: fine) {

  .logo-link:hover,
  .logo-link:active,
  .socials-link:hover,
  .socials-link:hover {
    filter: brightness(120%);
  }
}

/* }
.logo-link:hover,
.logo-link:active,
.main-socials-block:hover,
.main-socials-link:hover {
  filter: brightness(120%);
} */
footer {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

footer p:first-child {
  margin: 0;
    margin-top: 1.5rem;
}

footer p:last-child {
  opacity: 0.5;
  margin: 0;
  margin-bottom: 1.5rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: -1rem;
}

.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel_track-container {
  background: #F5F5F5;
  outline: 10px solid white;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  color: black;
}

.carousel_button--left {
  left: -30px;
}

.carousel_button--right {
  right: -30px;
}

.carousel_button i {
  align-self: center;
  font-size: 2.5rem;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.carousel_indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  border: 0;
  width: 20%;
  height: 10px;
  background: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, .75)
}

.is-hidden {
  display: none;
    transition: transform 500ms ease-in;
}

@media (min-width: 710px) {
  .main-socials {
    flex-direction: row;
  }

  .main-about p {
      padding-left: 15px
  }
}

@media (max-width: 709px) {
  .socials-link-block {
    width: 100%;
  }

  .gabi_photo-img{
    object-position: 0 -200px;
  }

  .main-about {
    flex-direction: column;
      margin-top: 1rem;
  }

  .main-about p {
    margin-top: 1rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .carousel {
    margin-top: 0.5rem
  }

  .carousel_button i {
    font-size: 4rem;
  }

  .carousel_button--left {
    left: -50px;
  }

  .carousel_button--right {
    right: -50px;
  }

  h2 {
    margin-bottom: 0;
  }

  .big-text {
    line-height: 3.5rem;
    margin-bottom: 1rem
  }

    .big-text::after {
      display: none
    }

    .square-black::after {
      display: none
    }

    .square-white::after {
      display: none
    }
}

@media (max-width: 500px){
  .gabi_photo-img{
    object-position: 0 -100px;
  }
}
